<div class="container">
 
  <div class="mat-elevation-z8 data-table">
    <table mat-table class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="last">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LAST</th>
        <td mat-cell *matCellDef="let row">{{row.last}}</td>
      </ng-container>

      <ng-container matColumnDef="chg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CHG %</th>
        <td mat-cell *matCellDef="let row">{{row.chg}}</td>
      </ng-container>

      <ng-container matColumnDef="history"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>HISTORY</th>
        <td mat-cell *matCellDef="let row">    <div class="marg">
          
            <canvas 
            *ngFor="let data of dataList"
            baseChart
            [datasets]="data"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
            </canvas>
        </div></td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RATING</th>
        <td mat-cell *matCellDef="let row">{{row.rating}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator #paginator
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>
  
</div>
